<div style="width: 500px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Google:</h3>
    </div>
    <div class="panel-body">
      <form id="tsf" class="tsf" role="search" onsubmit="return q.value!=''" name="f" method="GET" style="overflow:visible" action="https://www.google.de/search">
        <input spellcheck="false" dir="ltr" aria-autocomplete="both" role="combobox" aria-haspopup="false"
               class="gsfi" id="lst-ib" maxlength="2048" name="q" autocomplete="off" title="Suche" value="" aria-label="Suche" type="text">
        <input type="submit" jsaction="sf.chk" name="btnK" aria-label="Google-Suche" value="Suche">
      </form>
    </div>
    <div class="panel-footer">Results will open in a new Page!</div>
  </div>
</div>
