<ul class="nav nav-pills">
  <li role="presentation" class="active"  routerLinkActive="active"><a [routerLink]="['/start']">Startseite</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['business']"> Business</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['database']"> Database</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['ernaehrung']"> Ernährung</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['esoterik']"> Esoterik / Selbstcoaching</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['health']"> Health</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['hobby']"> Hobby</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['java']"> Java</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['kochen']"> Kochen</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['latex']"> LaTeX</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['leisure']"> Leasure</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['motivation']"> Motivation</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['news']"> News</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['nix']"> *nix</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['organisation']"> Organization</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['photographie']"> Photographie</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['private']"> Private</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['productivity']"> Productivity</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['project']"> Project</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['quotes']"> Quotes</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['radio']"> Radio</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['reise']"> Reise</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['science']"> Sience</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['security']"> Security</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['social']"> Social</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['sozialMedia']"> Social Media</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['sport']"> Sport</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['sprachen']"> Sprachen</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['studium']"> Studium</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['tips']"> Tips and Tricks</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['tv']"> TV</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['setup']">Profile</a></li>
</ul>
<router-outlet></router-outlet>
